@using AgrifoodManagement.Web.Models
@using AgrifoodManagement.Web.Views.Account.Resources

@model LoginViewModel

<div class="login-form">
    <div class="title">@LoginResources.LoginTitle</div>
    <form asp-action="Login" method="post">
        <div class="input-boxes">
            <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" asp-for="Email" required>
            </div>
            <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" asp-for="Password" required>
            </div>
            <div class="text"><a href="#">@LoginResources.ForgetPasswordButton</a></div>
            <div class="button input-box">
                <input type="submit" value="Submit">
            </div>
            <div class="text sign-up-text">
                @LoginResources.NoAccountButton<label for="flip">@LoginResources.SignupButton</label>
            </div>
        </div>
    </form>
</div>
