@using AgrifoodManagement.Web.Models
@using AgrifoodManagement.Web.Views.Account.Resources

@model RegisterViewModel

<div class="signup-form">
    <div class="title">@RegisterResources.SignupTitle</div>
    <form asp-action="Register" method="post">
        <div class="input-boxes">
            <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your name" name="Name" required>
            </div>
            <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="Email" required>
            </div>
            <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="Password" required>
            </div>
            <div class="button input-box">
                <input type="submit" value="Submit">
            </div>
            <div class="text sign-up-text">
                @RegisterResources.ExistingAccountButton<label for="flip">@RegisterResources.LoginNowButton</label>
            </div>
        </div>
    </form>
</div>
