@using AgrifoodManagement.Web.Models.Auth;
@using AgrifoodManagement.Web.Views.Account.Resources;
@using Syncfusion.EJ2.SplitButtons;
@using Syncfusion.EJ2.Navigations;

@{
    ProgressButtonSpinSettings spinCenter = new ProgressButtonSpinSettings() { Position = SpinPosition.Center };
    ProgressButtonAnimationSettings slideRight = new ProgressButtonAnimationSettings() { Effect = AnimationEffect.SlideRight };
}

@model RegisterViewModel

<div class="signup-form">
    <div class="title">@RegisterResources.SignupTitle</div>
    <ejs-stepper id="stepper" stepType="Indicator"
                 stepChanged="function(args) {onStepChanged(args)}" style="margin-top: 1rem;">
        <e-stepper-steps>
            <e-stepper-step text="1"></e-stepper-step>
            <e-stepper-step text="2"></e-stepper-step>
            <e-stepper-step text="3"></e-stepper-step>
        </e-stepper-steps>
    </ejs-stepper>

    <form asp-action="Register" method="post">
        <div class="input-boxes">
            <div id="accountInfoStepContent">
                @await Html.PartialAsync("_AccountInfoStep", Model)
            </div>

            <div id="personalInfoStepContent" style="display: none;">
                @await Html.PartialAsync("_PersonalInfoStep", Model)
            </div>

            <div id="contactInfoStepContent" style="display: none;">
                @await Html.PartialAsync("_ContactInfoStep", Model)
            </div>

            <div class="button input-box">
                <ejs-progressbutton id="registerBtn" content=@RegisterResources.RegisterButton enableProgress="true" spinSettings="spinCenter" animationSettings="slideRight"
                                    cssClass="e-hide-spinner e-progress-top" type="submit"
                                    style="width: 100%; height: 3rem; font-size: 1rem;"></ejs-progressbutton>
            </div>

            <div class="text sign-up-text">
                @RegisterResources.ExistingAccountButton<label for="flip" class="main-color">@RegisterResources.LoginNowButton</label>
            </div>
        </div>
    </form>
</div>

<script>
    function onStepChanged(args) {
        var stepIndex = args.activeStep + 1;
        loadStep(stepIndex);
    }

    function loadStep(stepNumber) {
        if (stepNumber === 1) {
            document.getElementById("accountInfoStepContent").style.display = "block";
            document.getElementById("personalInfoStepContent").style.display = "none";
            document.getElementById("contactInfoStepContent").style.display = "none";
        } else if (stepNumber === 2) {
            document.getElementById("accountInfoStepContent").style.display = "none";
            document.getElementById("personalInfoStepContent").style.display = "block";
            document.getElementById("contactInfoStepContent").style.display = "none";
        } else if (stepNumber === 3) {
            document.getElementById("accountInfoStepContent").style.display = "none";
            document.getElementById("personalInfoStepContent").style.display = "none";
            document.getElementById("contactInfoStepContent").style.display = "block";
        }
    }
</script>