@using Syncfusion.EJ2.Maps;
@using Newtonsoft.Json;
@using System.IO;
@using AgrifoodManagement.Web.Models.Locator;

@{
    Layout = "~/Views/Shared/_ConsumerNavbarLayout.cshtml";
    var locationsJson = JsonConvert.SerializeObject(Model.Locations);
}

@model LocatorViewModel;

<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <div id="map" style="width:100%; height:calc(100vh - 150px);"></div>
        </div>
    </div>
</div>

<script>
    var locations = @Html.Raw(locationsJson);

    function initMap() {
        var bounds = new google.maps.LatLngBounds();

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: { lat: 46.0, lng: 25.0 }
        });

        locations.forEach(function (loc) {
            var pos = { lat: loc.Latitude, lng: loc.Longitude };
            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: loc.Name,
                icon: {
                    url: '@Url.Content("~/images/balloon.png")',
                    scaledSize: new google.maps.Size(24, 24)
                }
            });

            bounds.extend(pos);

            var info = new google.maps.InfoWindow({
                content: '<div class="markerTemplate"><strong>' + loc.Name + '</strong></div>'
            });
            marker.addListener('click', function () {
                info.open(map, marker);
            });
        });

        map.fitBounds(bounds);
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv3ktn7wtxKN7yMV0NIqE2ezc8vQRvzVI&callback=initMap">
</script>