.e-toast-container.e-toast-error > .e-toast {
    background-color: #f5c6cb !important;
    color: #721c24 !important;
    border-left: 4px solid #f5c6cb !important;
    box-shadow: none !important;
}

.e-toast-container.e-toast-error .e-toast-title {
    font-weight: 600 !important;
    color: #721c24 !important;
}

.e-toast-container.e-toast-error .e-toast-icon {
    color: #721c24 !important;
}

.e-toast-container.e-toast-success > .e-toast {
    background-color: #c3e6cb !important;
    color: #155724 !important;
    border-left: 4px solid #c3e6cb !important;
    box-shadow: none !important;
}

.e-toast-container.e-toast-success .e-toast-title {
    font-weight: 600 !important;
    color: #155724 !important;
}

.e-toast-container.e-toast-success .e-toast-icon {
    color: #155724 !important;
}
